html{
    font-size: 62.5%;
}

body, header {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto Flex';
    width: 100vw;

}

p {
    font: 24rem white 400 'Roboto Flex';
}

.wrapperContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapperContainer-yellow{
    background-color: #C39531;
    padding: 1rem;
}

.wrapperContainer-blue{
    background-color: #043965;
}


.wrapperContainer-green{
    background-color: #407F46;
}

.container{
    display: flex;
    padding: 0;
    margin: 0;
}

.header img{
    padding: 5px 1px 1px 0;
}

.header_nav a{
    color: white;
    text-decoration: none;
}

.header_nav ul{
    margin: auto;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 5rem;
}

.header_nav li{
    background-color: #043965;
    padding: 1.5rem;
    text-align: center;
    border-radius: 13rem;
}

.wrapperContainer-hero{
    background-color: #043965;
    margin: 0;
    padding: 0;
}

.heroBanner{
    display: flex;
}

.containerImagem_cta{
    font-size: 2rem;
    padding: 0;
    background-color: #043965;
    text-decoration: none;
    color:white;
}

.heroBanner img{
    width: 100vw;
}


.ods h2{
    font-size: 2.4rem;
    color: white;
    text-align: center;
    padding-top: 5rem; 
    margin: 0;
}


.odsContainer{
    height: 40rem;
    margin-top: 0;
}

.ods_texto{
    font-size: 1.7rem;
    color: white;
    width: 42rem;
    text-align: left;
    margin: auto;
}

.ods_imagem{
    margin: auto;
}

.content-objetivo{
    height: 40rem;

}

.content-objetivo h2{
    width: 250rem;
    font-size: 2.4rem;
    color: white;
    text-align: center;
    padding-top: 5rem; 
    margin:auto;
}

.content-objetivo p{
    font-size: 1.7rem;
    color: white;
    text-align: center;
    width: 250rem;
    padding: 5rem;
}

